@import url(main.scss);


li:hover {
    cursor: pointer;
}

.navbar {
    margin-bottom: 6rem;

    #__navbar-container {

        display: flex;
        align-items: center;

        @include respond-to(xs) {

            #nav-btn,
            .navbar-nav {
                display: none
            }

        }
    }

    #collapsibleNavbar {
        @include flex_layout;
        justify-content: space-between;

        @include respond-to(md) {
            width: 50%
        }
    }

    #nBar-last2-btns-d {
        @include flex_layout;
    }

}



#wrapper-div {
    height: auto;
}




.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.modal-body {
    p {
        margin: 20px 20px 0px;
    }

    ul {
        margin: 20px 20px 0px;
        padding: 0;
    }
}