@import url(main.scss);


li:hover {
    cursor: pointer;
}

.navbar {
    margin-bottom: 6rem;

    #__navbar-container {

        display: flex;
        align-items: center;

        @include respond-to(xs) {

            #nav-btn,
            .navbar-nav {
                display: none
            }

        }
    }

    #collapsibleNavbar {
        @include flex_layout;
        justify-content: space-between;

        @include respond-to(md) {
            width: 50%
        }
    }

    #nBar-last2-btns-d {
        @include flex_layout;
    }

}



#wrapper-div {
    height: auto;
}




.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.modal-body {
    p {
        margin: 20px 20px 0px;
    }

    ul {
        margin: 20px 20px 0px;
        padding: 0;
    }
}


#sctn3 {
    width: 100%;
    height: auto;

    #wrapper-d-ofSctn3 {
        // border: 3px solid orange;
        
        .heading-d-ofSctn3{
            // border: 3px solid green;
            display: flex;
            justify-content: space-between;
           @include respond-to(sm){

            // display: block;
            // text-align: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            }
        }
        .fourSm-disc-d-ofSctn3 { // Correct class name based on your HTML
            display: flex; // Add this to make it flexible if required
            justify-content: space-evenly;
            // border: 3px solid orange;
            flex-direction: column;

            .childs-ofSm-disc-sctn {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                @include respond-to(md) {
                    margin-top: 2rem;
                    text-align: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }
           
              
        }
    }
}




  