/* body{ */
    /* font-family: onest-sans-serif; */
/* } */
/* :root{

} */
#logo{
    width: 7.6rem;
    height: auto;
}
#wrapper-div{
    height: 200vh;

}
#nav-btn{
    border: 1px solid ;
    border-radius: 50px;
}
.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    color: #52268D;
    font-weight: bold;
}
#nav-btn:hover, #bar-icon:hover{
    /* background-color: #52268D; */
    background: linear-gradient(to right, #000000, #52268D);
    color: #ffffff;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Change the icon color on hover to white (#ffffff) */
}